/* 3.03 - Page Header - Start
================================================== */
.page_header {
	padding: 206px 0 278px;
	background-image: linear-gradient(0deg, transparent, var(--bs-secondary));
	+ section {
		margin-top: -130px;
	}
}
.page_title {
	font-size: 48px;
	line-height: 60px;
	margin-bottom: 21px;
}
/* 3.03 - Page Header - End
================================================== */