/* 2.03 - Ordered and Unordered list - Start
================================================== */

// List Default Style - Start
[class*="unordered_list"] {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  >li {
    float: left;
    list-style: none;
    display: inline-flex;
  }
}
.unordered_list_block {
  display: flex;
  flex-direction: column;
  >li {
    width: 100%;
    display: block;
  }
}
// List Default Style - End

// Contact Info List - Start
.contact_info_list {
  gap: 20px;
  a {
    gap: 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    align-items: center;
    display: inline-flex;
    &:hover {
      color: var(--bs-primary);
    }
    i {
      color: var(--bs-primary);
    }
  }
}
// Contact Info List - End

// Category List Block - Start
.category_list_block {
  >li {
    border-bottom: 1px solid var(--bs-border-color);
    >a {
      display: flex;
      padding: 12px 0;
      font-size: 16px;
      list-style: 24px;
      font-weight: 700;
      position: relative;
      align-items: center;
      justify-content: space-between;
      >* {
        transition: var(--bs-transition);
      }
    }
    &:hover {
      >a {
        >* {
          color: var(--bs-secondary);
        }
        .label {
          transform: translateX(18px);
        }
        .icon {
          opacity: 1;
        }
      }
    }
  }
  .icon {
    left: 0;
    top: 13px;
    opacity: 0;
    position: absolute;
  }
}
// Category List Block - End

// Tags Block - Start
.tags_block {
  gap: 10px;
  a {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 6px 16px;
    border-radius: 6px;
    align-items: center;
    background-color: var(--bs-light);
    border: 1px solid var(--bs-border-color);
    &:hover {
      color: var(--bs-white);
      border-color: var(--bs-secondary);
      background-color: var(--bs-secondary);
    }
  }
}
// Tags Block - End

// Post Meta - Start
.post_meta {
  gap: 14px 40px;
  >li {
    line-height: 1;
    font-size: 16px;
    font-weight: 500;
  }
  a {
    gap: 8px;
    display: flex;
    align-items: center;
    &:hover {
      color: var(--bs-primary);
    }
    &.post_category {
      font-weight: 600;
      color: var(--bs-primary);
      text-transform: uppercase;
    }
  }
  i {
    color: var(--bs-primary);
  }
}

.post_meta.style_2 {
  >li {
    position: relative;
    &:not(:last-child):after {
      top: 0;
      bottom: 0;
      width: 2px;
      content: '';
      right: -21px;
      position: absolute;
      background-color: #DADAE5;
    }
  }
}
// Post Meta - End

/* 2.03 - Ordered and Unordered list - End
================================================== */