/* 2.08 - Social - Start
================================================== */
.social_block {
	gap: 10px;
	a {
		width: 52px;
		height: 52px;
		display: flex;
		font-size: 18px;
		align-items: center;
		border-radius: 100%;
		color: var(--bs-white);
		justify-content: center;
		background-color: var(--bs-dark);
		border: 1px solid var(--bs-border-color);
		svg {
			width: 18px;
			height: auto;
			fill: var(--bs-white);
			transition: var(--bs-transition);
		}
		i {
			display: block;
			line-height: 1;
		}
		&:hover {
			color: var(--bs-dark);
			border-color: var(--bs-white);
			background-color: var(--bs-white);
			svg {
				fill: var(--bs-dark);
			}
		}
	}
}

.social_block.style_2 {
	a {
		z-index: 1;
		border: none;
		font-size: 20px;
		overflow: hidden;
		border-radius: 6px;
		position: relative;
		background: linear-gradient(60deg, #DD00AC, #7130C3, #DD00AC);
		&:before {
			inset: 1px;
			content: '';
			z-index: -1;
			border-radius: 6px;
			position: absolute;
			background-color: var(--bs-light);
		}
		&:after {
			left: 0;
			top: -60%;
			content: '';
			width: 100%;
			height: 100%;
			filter: blur(10px);
			position: absolute;
			background-image: radial-gradient(#4E47A6, transparent);
		}

		&:hover {
			color: var(--bs-white);
			transform: translateY(-2px);
			box-shadow: 0 6px 20px 0 rgba(var(--bs-primary-rgb), 0.3);
			svg {
				fill: var(--bs-white);
			}
		}
	}
	svg {
		width: 20px;
	}
}

.social_block.style_3 {
	a {
		width: 60px;
		height: 60px;
		border: none;
		font-size: 20px;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: transparent;
		background-position: center center;
		svg {
			width: 20px;
		}
		&:hover {
			color: var(--bs-primary);
			background-color: var(--bs-primary);
			svg {
				fill: var(--bs-primary);
			}
		}
	}
}

.social_block.style_4 {
	a {
		width: 40px;
		height: 40px;
		font-size: 14px;
		background-color: var(--bs-light);
		border: 1px solid var(--bs-border-color);
		&:hover {
			color: var(--bs-white);
			border-color: var(--bs-secondary);
			background-color: var(--bs-secondary);
		}
	}
}
/* 2.08 - Social - End
================================================== */