/* 5.03 - Contact Page - Start
================================================== */
.contact_info_box {
	padding: 50px;
	border-radius: 20px;
	background-color: var(--bs-light);
	border: 1px solid var(--bs-border-color);

	.social_block.style_4 a {
		width: 46px;
		height: 46px;
	}

	.contact_info_list {
		margin-bottom: 40px;
	}
	.iconlist_block.unordered_list_block {
		gap: 39px;
	}
}

.contact_section {
	.gmap_canvas {
		margin-top: 150px;
	}
}

.gmap_canvas {
	z-index: 1;
	padding: 15px;
	position: relative;
	border-radius: 10px;
	background-image: linear-gradient(-45deg, #944FEB, #D85C37);
	&:before {
		inset: 1px;
		z-index: -1;
		content: '';
		position: absolute;
		border-radius: inherit;
		background-color: var(--bs-dark);
	}
	iframe {
		width: 100%;
		height: 700px;
		border-radius: inherit;
		mix-blend-mode: luminosity;
	}
}
/* 5.03 - Contact Page - End
================================================== */