/* 5.04 - Register Pages - Start
================================================== */
.register_section {
	display: flex;
	min-height: 100vh;
	align-items: center;
	flex-direction: column;
	padding: 130px 0 80px;
	justify-content: center;
	background-image: linear-gradient(0deg, #070710, #591AA9);

	.shape_flower {
		top: 50%;
		left: 50%;
		width: 680px;
		position: absolute;
		transform: translate(-50%, -50%);
		img {
			width: 100%;
		}
	}
}

.register_form {
	border-radius: 20px;
	padding: 40px 40px 50px;
	background-color: var(--bs-light);
	border: 1px solid var(--bs-border-color);
	.heading_text {
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 15px;
	}
	p {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 33px;
	}
	.btn_login_google {
		width: 100%;
	}
	.divider {
		margin: 30px 0;
		img {
			width: 100%;
			display: block;
		}
	}
	.form-group:not(:last-child) {
		margin-bottom: 24px;
	}
	.input_title {
		margin-bottom: 6px;
	}
	.forget_pass {
		a {
			color: var(--bs-secondary);
		}
	}
	.form-check {
		.form-check-label {
			a {
				color: var(--bs-secondary);
			}
		}
	}
	button[type="submit"] {
		width: 100%;
		margin-top: 30px;
		border-radius: 6px;
		justify-content: center;
	}
}
/* 5.04 - Register Pages - End
================================================== */