/* 2.16 - Accordion - Start
================================================== */

// ICO Accordion - Start
.ico_accordion {
	.accordion-item {
		position: relative;
		border-radius: 10px;
		padding: 35px 120px 35px 40px;
		background-color: var(--bs-dark);
		border: 1px solid var(--bs-border-color);
		&:not(:last-child) {
			margin-bottom: -1px;
		}
		&:has([aria-expanded=true]) {
			z-index: 2;
		}
	}

	.icon_arrow {
		top: 0;
		right: 0;
		bottom: 0;
		width: 100px;
		display: flex;
		flex: 0 0 auto;
		position: absolute;
		align-items: center;
		justify-content: center;
		border-left: 1px solid var(--bs-border-color);
		svg {
			width: 26px;
			flex: 0 0 auto;
			fill: transparent;
			stroke: var(--bs-body-color);
			transition: var(--bs-transition);
		}
		&:hover {
			svg {
				stroke: var(--bs-secondary);
			}
		}

		&:not(.collapsed) {
			svg {
				transform: scaleY(-1);
				fill: var(--bs-secondary);
				stroke: var(--bs-secondary);
			}
		}
	}

	.accordion-body {
		padding: 20px 100px 7px 0;
	}

	p {
		margin-bottom: 16px;
	}

	.accordion-button {
		font-size: 20px;
		line-height: 30px;
		color: var(--bs-heading-color);
		font-family: var(--bs-heading-font-family);
	}
	.iconlist_block .iconlist_label {
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
		color: var(--bs-body-color);
		font-family: var(--bs-body-font-family);
	}
	.iconlist_block .iconlist_icon {
		width: auto;
		font-size: 5px;
		margin: 10px 0 0;
	}
	.iconlist_block.unordered_list_block {
		gap: 12px;
	}
}
// ICO Accordion - End

// Meme Accordion - Start
.meme_accordion {
	.accordion-item {
		z-index: 1;
		position: relative;
		border-radius: 20px;
		transition: .2s ease-in-out;
		padding: 60px 80px 60px 40px;
		background-color: var(--bs-dark);
		border: 1px solid var(--bs-primary);
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		&:before {
			top: 50%;
			left: -1px;
			right: -1px;
			content: '';
			height: 100%;
			z-index: -1;
			position: absolute;
			transform: translateY(-50%);
			background-image: linear-gradient(0deg, transparent, var(--bs-dark), var(--bs-dark), transparent);
		}

		&:has([aria-expanded=true]) {
			border-color: var(--bs-light);
			background-color: var(--bs-light);
			&:before {
				height: 0%;
			}
			.accordion-button {
				color: var(--bs-dark);
				.icon {
					background-color: var(--bs-dark);
					i {
						color: var(--bs-light);
						transform: rotate(45deg);
					}
				}
			}
		}
	}
	.accordion-button {
		gap: 30px;
		display: flex;
		font-size: 20px;
		line-height: 28px;
		color: var(--bs-white);
		transition: .1s ease-in-out;
		font-family: var(--bs-heading-font-family);
		.icon {
			width: 50px;
			height: 50px;
			flex: 0 0 auto;
			font-size: 36px;
			border-radius: 10px;
			align-items: center;
			display: inline-flex;
			justify-content: center;
			transition: var(--bs-transition);
			background-color: var(--bs-light);
			i {
				color: var(--bs-dark);
				transition: var(--bs-transition);
			}
		}
	}
	.accordion-body {
		padding: 30px 0 0;
	}
	p {
		font-size: 18px;
		line-height: 26px;
		color: var(--bs-dark);
	}
}
// Meme Accordion - End

/* 2.16 - Accordion - End
================================================== */