/* 2.12 - Iconbox - Start
================================================== */

// ICO Iconbox Icon Left - Start
.ico_iconbox_block {
	z-index: 1;
	padding: 30px;
	position: relative;
	border-radius: 20px;
	background-image: linear-gradient(0deg, transparent, var(--bs-border-color));
	&:before {
		top: 1px;
		left: 1px;
		right: 1px;
		bottom: 1px;
		z-index: -1;
		content: '';
		position: absolute;
		border-radius: inherit;
		background-color: var(--bs-dark);
	}
	.iconbox_icon {
		width: 80px;
		flex: 0 0 auto;
		display: inline-flex;
		img {
			display: block;
		}
	}
	.iconbox_title {
		font-size: 24px;
		line-height: 32px;
		margin: 27px 0 7px;
	}
	.iconbox_description {
		max-width: 235px;
	}
}
// ICO Iconbox Icon Left - End

// ICO Iconbox Icon Left - Start
.ico_iconbox_icon_left {
	gap: 20px;
	display: flex;
	padding: 30px 20px;
	border-radius: 10px;
	align-items: flex-start;
	background-color: var(--bs-light);
	border: 1px solid var(--bs-border-color);
	.iconbox_icon {
		width: 55px;
		height: 55px;
		flex: 0 0 auto;
		img {
			width: 100%;
		}
	}
	.iconbox_title {
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
		margin-bottom: 4px;
		color: var(--bs-body-color);
		font-family: var(--bs-body-font-family);
	}
	.iconbox_description {
		color: var(--bs-heading-color);
		font-family: var(--bs-heading-font-family);
	}
}

.ico_features_group {
	gap: 20px;
}
// ICO Iconbox Icon Left - End

// Memecoin Iconbox Block - Start
.memecoin_iconbox_block {
	.iconbox_icon {
		z-index: 1;
		max-width: 90px;
		position: relative;
		display: inline-block;
		&:before {
			left: 50%;
			content: '';
			z-index: -1;
			bottom: 8px;
			width: 70px;
			height: 70px;
			position: absolute;
			border-radius: 100%;
			transform: translateX(-50%);
			border: 2px solid var(--bs-dark);
			background-image: linear-gradient(0deg, #07B175, #3FFFB7);
		}
	}
	.iconbox_title {
		font-size: 18px;
		line-height: 24px;
		margin: 28px 0 10px;
	}
}

.row:has(.memecoin_iconbox_block) {
	border-style: dashed;
	border-width: 0 1px;
	border-color: #C0DBA6;
	>* {
		&:not(:last-child) {
			border-style: dashed;
			border-color: #C0DBA6;
			border-width: 0 1px 0 0;
		}
	}

	.memecoin_iconbox_block {
		margin: 0 auto;
		padding: 0 20px;
		max-width: 320px;
	}
}
// Memecoin Iconbox Block - End

// Pepecoin Feature Block - Start
.pepecoin_feature_block {
	position: relative;
	text-align: center;
	padding: 106px 80px 94px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
	.feature_serial_number {
		top: -20px;
		left: -30px;
		z-index: 1;
		width: 184px;
		height: 96px;
		display: flex;
		line-height: 1;
		font-size: 44px;
		font-weight: 500;
		position: absolute;
		align-items: center;
		justify-content: center;
		background-size: 100% 100%;
		font-family: "January Night";
		background-repeat: no-repeat;
		background-position: center center;
	}
	.feature_title {
		line-height: 1;
		font-size: 30px;
		margin-bottom: 14px;
	}
	p {
		font-size: 18px;
		font-weight: 600;
		line-height: 30px;
	}
}

.row:has(.pepecoin_feature_block) {
	margin: -40px;
	>* {
		padding: 40px;
	}
}
// Pepecoin Feature Block - End

/* 2.12 - Iconbox - End
================================================== */