/* 2.19 - Pagination - Start
================================================== */
.pagination_nav {
  gap: 14px;
  a {
    width: 50px;
    height: 50px;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    border-radius: 6px;
    align-items: center;
    color: var(--bs-white);
    justify-content: center;
    background-color: var(--bs-light);
    border: 1px solid var(--bs-border-color);
  }
  >li:hover,
  >li.active {
    a {
      color: var(--bs-white);
      border-color: var(--bs-secondary);
      background-color: var(--bs-secondary);
    }
  }
}
/* 2.19 - Pagination - End
================================================== */