/* 2.14 - Roadmap - Start
================================================== */

// ICO Roadmap Block - Start
.roadmap_block {
	z-index: 2;
	padding: 40px;
	position: relative;
	border-radius: 20px;
	transition: flex 0.2s ease-in;
	background-image: linear-gradient(0deg, transparent, var(--bs-border-color));
	&:before {
		inset: 20px;
		content: '';
		z-index: -1;
		position: absolute;
		border-radius: inherit;
		border: 1px solid transparent;
	}
	&:after {
		inset: 1px;
		content: '';
		z-index: -2;
		position: absolute;
		border-radius: inherit;
		background-size: 100% 0%;
		background-repeat: no-repeat;
		background-position: center top;
		background-color: var(--bs-dark);
		background-image: url('../images/backgrounds/bg_image_1.png');
	}
	.badge {
		line-height: 1;
		font-size: 24px;
		padding: 14px 15px;
		border-radius: 8px;
		border: 1px solid #1D204B;
		color: var(--bs-secondary);
		background-color: rgba(29, 32, 75, 0.41);
		font-family: var(--bs-heading-font-family);
	}
	.heading_text {
		font-size: 24px;
		line-height: 32px;
		margin: 31px -20px 18px 0;
	}
	.iconlist_block {
		gap: 16px;
		opacity: 0;
		min-height: 350px;
		.iconlist_icon {
			width: auto;
			font-size: 5px;
			margin: 9px 0 0;
		}
		.iconlist_label {
			font-size: 16px;
			font-weight: 400;
			line-height: 20px;
			color: var(--bs-body-color);
			font-family: var(--bs-body-font-family);
		}
	}
	.hover_shape {
		top: 70%;
		right: 30px;
		max-width: 142px;
		position: absolute;
		transform: scale(0.8);
		mix-blend-mode: luminosity;
		transition: 0.6s cubic-bezier(0.16, 1, 0.3, 1);
	}

	&.active {
		background-image: linear-gradient(0deg, var(--bs-border-color), var(--bs-border-color));
		&:before {
			border-color: var(--bs-border-color);
		}
		&:after {
			background-size: 100% 100%;
		}
		.iconlist_block {
			opacity: 1;
		}
		.hover_shape {
			top: -13%;
			right: -65px;
			transform: scale(1);
			transition-delay: 0.1s;
			mix-blend-mode: normal;
		}
	}
}

.ico_roadmap_flexbox {
	width: 100%;
	display: flex;
	.roadmap_block {
		flex: 1;
		position: relative;
	}
	.roadmap_block.active {
		flex: 1.6;
		z-index: 3;
	}
}
// ICO Roadmap Block - End

// Meme Roadmap Block - Start
.meme_roadmap_block {
	.serial_number {
		z-index: 2;
		line-height: 1;
		padding: 0 24px;
		font-size: 14px;
		position: relative;
		margin-bottom: 46px;
		color: var(--bs-light);
		font-family: var(--bs-heading-font-family);
		&:before {
			top: 100%;
			left: 60px;
			width: 1px;
			content: '';
			height: 100px;
			margin-top: 10px;
			position: absolute;
			background-color: #1F453D;
		}
	}
	.roadmap_info {
		z-index: 1;
		padding: 67px 44px;
		position: relative;
		border-radius: 20px;
		background-color: var(--bs-primary);
		&:before {
			inset: 1px;
			content: '';
			z-index: -1;
			position: absolute;
			border-radius: inherit;
			background-image: linear-gradient(0deg, var(--bs-dark) 40%, transparent 100%);
		}
		&:after {
			top: 50%;
			left: 50%;
			z-index: -1;
			content: '';
			width: 100%;
			height: 250px;
			position: absolute;
			filter: blur(50px);
			border-radius: 100%;
			transform: translate(-50%, -50%);
			background-color: var(--bs-dark);
		}
	}
	.roadmap_title {
		line-height: 1;
		font-size: 20px;
		position: relative;
		padding-left: 50px;
		margin-bottom: 40px;
		&:before {
			top: 2px;
			left: 8px;
			z-index: 2;
			content: '';
			width: 15px;
			height: 15px;
			flex: 0 0 auto;
			position: absolute;
			border-radius: 100%;
			box-shadow: 0 0 0 8px #20242C;
			background-image: linear-gradient(0deg, var(--bs-primary), var(--bs-dark));
		}
	}
	.iconlist_block {
		>li {
			gap: 8px;
		}
		.iconlist_icon {
			font-size: 15px;
			margin-top: 2px;
		}
		.iconlist_label {
			font-size: 16px;
			font-weight: 300;
			line-height: 20px;
			font-family: var(--bs-body-font-family);
		}
	}
}
// Meme Roadmap Block - End

/* 2.14 - Roadmap - End
================================================== */