/* 2.22 - Tokenomics - Start
================================================== */
.tokenomics_block {
	>li {
		gap: 20px;
		display: flex;
		align-items: center;
		&:not(:last-child) {
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid var(--bs-border-color);
		}
	}
	>li {
		&:nth-child(1) {
			.percent {
				background-color: #FC1CCF;
			}
		}
		&:nth-child(2) {
			.percent {
				background-color: #DF5E08;
			}
		}
		&:nth-child(3) {
			.percent {
				background-color: #07C87F;
			}
		}
		&:nth-child(4) {
			.percent {
				background-color: #49B7F7;
			}
		}
		&:nth-child(5) {
			.percent {
				background-color: #DABA5E;
			}
		}
		&:nth-child(6) {
			.percent {
				background-color: #FF0054;
			}
		}
	}
	.percent {
		width: 78px;
		height: 46px;
		flex: 0 0 auto;
		line-height: 1;
		font-size: 24px;
		align-items: center;
		display: inline-flex;
		color: var(--bs-white);
		justify-content: center;
		border-radius: 10px 0 10px 0;
		font-family: "Roobert PRO Medium";
		background-color: var(--bs-secondary);
	}
	.heading_text {
		line-height: 1;
		font-size: 18px;
		margin-bottom: 8px;
		font-family: var(--bs-body-font-family);
	}
	.value {
		line-height: 1;
		font-size: 20px;
		align-items: center;
		display: inline-flex;
		color: var(--bs-heading-color);
		font-family: "Roobert PRO Medium";
	}
}

.icon_coins_image {
	margin: 0 -120px -140px;
	img {
		animation: upDownMover 4s ease-in-out infinite;
	}
}
/* 2.22 - Tokenomics - End
================================================== */