:root {
	--bs-body-font-family: "DM Sans", serif;
	--bs-heading-font-family: "DM Sans", serif;
	--bs-body-font-size: 16px;
	--bs-body-font-weight: 400;
	--bs-body-line-height: 26px;
	--bs-transition: 400ms ease;
}