/* 4.06 - Service Section - Start
================================================== */

// ICO Service Section - Start
.ico_service_section {
	[class*="shape_shadow_"] {
		width: 252px;
		filter: blur(100px);
	}
	.shape_shadow_1 {
		left: -120px;
		bottom: -150px;
	}
	.shape_shadow_2 {
		bottom: 20%;
		right: -140px;
	}
}
// ICO Service Section - End

// ICO Service Section - Start
.memecoin_service_section {
	padding: 180px 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.memecoin_partners_logo {
	padding: 80px 0;
	margin: 70px 0 0;
	border-radius: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: var(--bs-dark);
	background-position: center bottom -4px;
	border: 1px solid var(--bs-border-color);
	.memecoin_heading_block {
		.highlight_title {
			line-height: 1;
			font-size: 16px;
		}
	}

	.ico_partner_logo {
		background-color: transparent;
		&:before {
			opacity: 0.3;
			background: var(--bs-primary);
		}
		&:after {
			top: 1px;
			left: 1px;
			right: 1px;
			bottom: 1px;
			height: auto;
			transform: unset;
			border-radius: 10px;
		}
		.logo_wrap {
			height: 70px;
			padding: 0 20px;
			background-color: var(--bs-dark);
			img {
				opacity: 1;
				max-width: 150px;
			}
		}

		&:hover {
			&:before {
				opacity: 1;
			}
			.logo_wrap {
				img {
					opacity: 1;
				}
			}
		}
	}
}

.token_copy_board {
	gap: 10px;
	padding: 20px;
	font-size: 16px;
	margin-top: 60px;
	font-weight: 500;
	border-radius: 10px;
	align-items: center;
	white-space: nowrap;
	display: inline-flex;
	color: var(--bs-white);
	background-color: var(--bs-dark);
	border: 1px solid var(--bs-border-color);
	.icon {
		width: 32px;
		height: 32px;
		flex: 0 0 auto;
		border-radius: 4px;
		align-items: center;
		display: inline-flex;
		color: var(--bs-dark);
		justify-content: center;
		background-color: var(--bs-light);
	}
	.code mark {
		color: #4D5955;
	}
	.copy_btn {
		min-width: 96px;
		font-size: 20px;
		font-weight: 600;
		line-height: 24px;
		border-radius: 4px;
		color: var(--bs-dark);
		padding: 2px 10px 4px;
		background-color: var(--bs-secondary);
		&:hover {
			background-color: var(--bs-light);
		}
	}
}
// ICO Service Section - End

/* 4.06 - Service Section - End
================================================== */