/* 4.07 - Content Ticker Section - Start
================================================== */
.content_ticker_wrapper {
	z-index: 1;
	padding: 120px 0;
	overflow: hidden;
	position: relative;
	border-radius: 100%;
	border: 1px solid var(--bs-primary);
	&:before {
		top: 50%;
		left: 50%;
		width: 34%;
		z-index: -1;
		content: '';
		height: 100%;
		position: absolute;
		border-radius: 100%;
		transform: translate(-50%, -50%);
		border: 1px solid var(--bs-border-color);
		background-image: linear-gradient(0deg, var(--bs-primary), transparent, transparent, transparent, var(--bs-primary));
	}

	.shape_heart {
		top: 50%;
		left: 50%;
		z-index: 1;
		max-width: 303px;
		position: absolute;
		transform: translate(-50%, -50%);
		.coinpay_animate  {
			top: 50%;
			left: 50%;
			max-width: 60%;
			margin-top: -10px;
			position: absolute;
			transform: translate(-50%, -50%);
		}
	}
}
.content_ticker_carousel {
	padding: 60px 0;
	border-style: solid;
	border-width: 1px 0;
	border-color: var(--bs-primary);
	background-color: var(--bs-dark);
	.swiper-wrapper {
		transition-timing-function: linear;
	}
	.swiper-slide {
		line-height: 1;
		font-size: 170px;
		margin: -36px 0 -12px;
		color: var(--bs-primary);
		font-family: var(--bs-heading-font-family);
	}
}
/* 4.07 - Content Ticker Section - End
================================================== */