/* 4.01 - Hero Section - Start
================================================== */

// ICO Hero Section - Start
.ico_hero_section {
	overflow: hidden;
	padding: 183px 0 0;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center top;
	.hero_title {
		font-size: 70px;
		line-height: 80px;
		margin-bottom: 46px;
	}
	.ico_countdown_progress_box {
		max-width: 880px;
		position: relative;
		margin: 100px auto 16px;
		background-color: var(--bs-dark);
		&:before {
			content: '';
			z-index: -2;
			opacity: 0.24;
			position: absolute;
			filter: blur(22px);
			inset: 6px 0 -8px 0;
			background: linear-gradient(140deg, #7064E9, #FC6500, #7064E9);
		}
		.countdown_timer_block {
			margin: -28px 0 20px;
			background-size: 100% 100%;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
	.shape_bottom {
		img {
			width: 100%;
		}
	}
	.shape_globe {
		top: 30%;
		left: 62px;
		max-width: 188px;
		animation: upDownMover 3.5s ease-in-out infinite;
	}
	.shape_coin {
		top: 30%;
		right: 98px;
		max-width: 227px;
		animation: upDownMover 3.5s ease-in-out infinite 1s;
	}
}

.ico_hero_section + .partner_section {
	margin-top: -81px;
}
// ICO Hero Section - End

// Memecoin Hero Section - Start
.memecoin_hero_section {
	z-index: 2;
	padding: 220px 0 100px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	.hero_title {
		font-size: 80px;
		line-height: 86px;
		margin-bottom: 21px;
		.shape_image {
			max-width: 80px;
			margin: 0 -14px;
			display: inline-block;
			img {
				display: block;
				margin: 0 0 -10px;
			}
		}
	}
	.hero_description {
		font-size: 20px;
		max-width: 598px;
		line-height: 26px;
		margin: 0 auto 74px;
	}

	.scrollspy_btn {
		margin: 100px 0 0;
	}
	[class*="shape_chain_"] {
		img {
			width: 100%;
			height: auto;
		}
	}
	.shape_chain_1 {
		top: -130px;
		left: -40px;
		right: -40px;
	}
	.shape_chain_2 {
		left: -65px;
		right: -65px;
		bottom: -110px;
	}
	[class*="shape_cartoon_"] {
		top: 50%;
		max-width: 280px;
		transform: translateY(-50%);
		img {
			animation: upDownMover 3.5s ease-in-out infinite;
		}
	}
	.shape_cartoon_1 {
		left: 8%;
	}
	.shape_cartoon_2 {
		right: 8%;
		img {
			animation-delay: 1s;
		}
	}
}
// Memecoin Hero Section - End

// Pepecoin Hero Section - Start
.pepecoin_hero_section {
	padding: 166px 0 157px;
	.hero_title {
		line-height: 1;
		font-size: 90px;
		letter-spacing: -1px;
		margin: 0 -32px 21px 0;
		color: var(--bs-white);
	}
	.hero_description {
		font-size: 26px;
		line-height: 1.3;
		margin: 0 -20px 51px 0;
		color: var(--bs-white);
	}
	.shape_leaf_top {
		left: 0;
		right: 0;
		top: -80px;
		img {
			width: 100%;
		}
	}
	.shape_leaf_bottom {
		left: -140px;
		right: -20px;
		bottom: -90px;
		img {
			width: 100%;
		}
	}

	.shape_cloud {
		top: 170px;
		left: -68px;
		max-width: 186px;
		img {
			animation: upDownMover 3s ease-in-out infinite;
		}
	}

	.shape_tree {
		right: -506px;
		bottom: 210px;
		max-width: 720px;
	}
}

.pepecoin_hero_image {
	.pepe_coin_image {
		left: 0;
		right: 0;
		top: 60px;
		text-align: center;
		position: absolute;
		img {
			max-width: 400px;
			perspective: 10000px;
			transform-origin: center;
			transform-style: preserve-3d;
			animation: coinFlip 4s infinite linear;
		}
	}
}
// Pepecoin Hero Section - End

/* 4.01 - Hero Section - End
================================================== */