/* 4.11 - Testimonial Section - Start
================================================== */
.testimonial_block {
	padding: 40px;
	border: 1px solid var(--bs-border-color);
	.testimonial_admin_logo {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.admin_logo {
		width: 170px;
		height: 52px;
		flex: 0 0 auto;
		padding: 0 18px;
		align-items: center;
		display: inline-flex;
		justify-content: center;
		background-color: var(--bs-dark);
		clip-path: polygon(100% 0, 86% 100%, 0 100%, 14% 0);
		img {
			max-height: 44px;
		}
	}
	.icon_block {
		width: auto;
		height: auto;
		border: none;
		max-width: 60px;
		border-radius: 0;
		overflow: visible;
		background: transparent;
		svg {
			width: 100%;
			path {
				fill: var(--bs-primary);
			}
		}
	}
	.testimonial_admin_comment {
		font-size: 26px;
		line-height: 40px;
		margin: 30px 0 29px;
		padding-bottom: 39px;
		border-bottom: 1px solid var(--bs-border-color);
	}
}

// Layout 2
.testimonial_block.layout_2 {
	padding: 0;
	border: none;
	text-align: center;
	justify-content: center;
	.testimonial_admin_comment {
		color: var(--bs-white);
		border-color: rgba(255, 255, 255, 0.1);
	}
	.authorbox_block {
		justify-content: center;
		.authorbox_title {
			font-size: 28px;
			margin-bottom: 14px;
			color: var(--bs-white);
		}
		.authorbox_designation {
			line-height: 1;
			font-size: 18px;
			color: var(--bs-white);
		}
	}
}

.testimonial_carousel_2 {
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: overlay;
	background-position: center center;
	background-color: rgba(14, 14, 14, 0.7);
	.swiper-wrapper {
		padding: 130px 0;
	}

	.testimonial_block.layout_2 {
		margin: auto;
		max-width: 856px;
	}
}

// Layout 3
.testimonial_block.layout_3 {
	border-width: 0;
	text-align: center;
	background-color: var(--bs-secondary);
	.authorbox_block {
		flex-direction: column;
	}
	.testimonial_admin_comment {
		margin: 0;
		border-width: 0;
		color: var(--bs-heading-color);
	}
}
.testimonial_carousel_3 {
	.swiper-slide:not(.swiper-slide-active) {
		opacity: 0.3;
	}
}

// Layout 4
.testimonial_block.layout_4 {
	border-color: var(--bs-secondary);
	background-color: var(--bs-secondary);
	.quote_icon {
		max-width: 40px;
		svg path {
			fill: var(--bs-heading-color);
		}
	}
	.testimonial_admin_comment {
		font-size: 20px;
		line-height: 30px;
		margin: 24px 0 30px;
		padding-bottom: 26px;
	}
}
/* 4.11 - Testimonial Section - End
================================================== */